{% extends 'base.html.twig' %}

{% block title %}Les mentions légales - Le Collectif Taliesin{% endblock %}

    {% block body %}

        <div class="conditions container mb-4">
        
            <br>
            
            <a href="{{ path('app_home') }}" class="go-home"><h3 class="my-5">🏠</h3></a>
            
            <h1 class="text-center mb-5">Les mentions légales du site :</h1>
            
            <div>
            
                <p>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum nisl ut metus tincidunt, vel mollis purus laoreet. Phasellus orci lorem, scelerisque eu sapien non, rhoncus lobortis tortor. Morbi sollicitudin felis lacus, venenatis sodales sapien tempus at. Ut at libero sodales, eleifend orci sit amet, dapibus libero. Fusce sit amet felis lorem. Nulla a massa nisl. Pellentesque consectetur lacus quis massa accumsan gravida. Mauris erat massa, viverra in porta ut, lacinia et erat. Phasellus nec finibus est, quis commodo enim. Aliquam feugiat consequat mauris, id malesuada lacus malesuada sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur dignissim mauris velit, id faucibus massa faucibus nec. Nullam urna orci, maximus sit amet mattis vitae, elementum posuere sapien. Aenean ullamcorper odio sit amet suscipit pellentesque. Integer congue purus ac metus sodales porttitor.<br><br>

                    Donec faucibus vulputate augue quis elementum. Duis ut nisi ligula. Sed vel auctor tortor. Quisque a pellentesque tellus. Cras gravida ut purus vitae hendrerit. Quisque velit urna, scelerisque ut porta non, sagittis at dolor. Maecenas eget velit et diam placerat interdum a vitae nunc. Etiam eget ligula mattis, efficitur purus nec, hendrerit libero. Sed fermentum sodales mattis. Suspendisse hendrerit fermentum tincidunt. Vestibulum ipsum risus, pretium vestibulum eros id, venenatis ullamcorper ante. Donec in sagittis sapien, vitae dignissim arcu. Curabitur id blandit velit, a hendrerit justo. Phasellus ullamcorper tellus sit amet enim convallis, in mattis tortor consequat. Fusce congue, nisi vitae maximus vehicula, tellus ligula maximus augue, quis tristique ex nisl vel urna.<br><br>

                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas a neque molestie, cursus arcu et, dapibus nunc. Sed fermentum luctus diam in bibendum. Fusce non nisi laoreet, tincidunt eros sed, aliquam lacus. Phasellus interdum eget enim at sagittis. In fermentum hendrerit luctus. Cras placerat mauris sit amet eros cursus, ut vehicula ipsum sagittis. Integer libero massa, auctor in porttitor at, condimentum in mauris. Nulla a nisl vitae sapien rhoncus commodo. Donec egestas in diam sit amet consectetur. Phasellus arcu ipsum, posuere ac tristique eu, feugiat ac nisl. Vestibulum vulputate massa at purus mollis, non lacinia ex posuere. Suspendisse euismod, nulla et mattis venenatis, ligula orci fringilla arcu, in fringilla felis dui ut dui. Mauris ligula sapien, laoreet sed sapien sit amet, dictum pretium augue.<br><br>

                    Vestibulum at elit ac tortor pretium faucibus. Praesent consectetur leo id ultricies semper. Nulla non vehicula ipsum, eu lacinia mi. Ut maximus nunc id erat ultrices fringilla. Phasellus feugiat arcu lacus, vitae congue mi facilisis sit amet. Nullam non fringilla orci. Donec metus ex, ultricies finibus urna eget, egestas porta libero. Praesent dolor ipsum, lacinia id tellus sed, pretium egestas odio. Vestibulum nec vulputate lectus. Nunc vel urna vulputate, rhoncus leo at, hendrerit elit. Nulla facilisi. Curabitur dapibus felis ligula, auctor aliquam tellus aliquet eleifend. Morbi sit amet eleifend orci. Donec egestas fringilla consequat. Ut in blandit risus, ac dapibus libero.<br><br>

                    Aenean eget elit diam. Phasellus tempus accumsan sagittis. Ut ullamcorper sapien quis dolor efficitur, eu molestie ipsum porta. Nullam velit felis, volutpat eget arcu non, suscipit egestas sapien. Integer semper, sem id imperdiet tristique, ipsum eros ultricies ante, ac iaculis odio sem lacinia justo. Donec commodo risus ac metus imperdiet finibus. Quisque rutrum aliquet leo. Cras magna eros, bibendum sit amet convallis nec, tempus et nisl. Nulla sed augue quis arcu luctus suscipit a placerat augue. Vestibulum vel massa sem. Nulla cursus ullamcorper mi, et consequat urna. Suspendisse accumsan cursus eros, sed placerat mauris facilisis tincidunt. Phasellus molestie, sem vel pulvinar varius, dolor felis dictum ligula, molestie finibus arcu arcu ut nisi. Aliquam lacinia lacus quis porta bibendum. Morbi scelerisque nisi eu justo pretium, at varius libero pretium.<br><br>

                    In aliquet velit aliquet eleifend vehicula. Sed pretium, tellus in interdum dapibus, est mi semper ante, sit amet blandit quam felis in turpis. Integer nec dapibus leo. Morbi facilisis fringilla leo, non eleifend nisl suscipit a. Morbi eleifend et risus eget tincidunt. Pellentesque rutrum fermentum laoreet. Ut hendrerit ante in justo luctus pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo dui, tristique tincidunt felis ac, interdum dignissim ligula. Donec ex dolor, maximus mollis orci ut, dictum commodo odio. Vivamus faucibus nibh sapien, et laoreet ipsum pharetra non. Aliquam non augue nec purus volutpat elementum convallis eget augue.<br><br>

                    Suspendisse sit amet nisi tincidunt, commodo mi in, posuere orci. Phasellus eget libero accumsan, viverra enim nec, bibendum urna. Etiam nec nisi nec urna ultricies venenatis. Duis nulla massa, blandit sed consequat et, hendrerit sit amet velit. Cras eu pretium turpis, sed fringilla elit. Ut sodales semper ante, quis dignissim nunc tempus at. Pellentesque eu laoreet tellus.<br><br>

                    Cras rhoncus rhoncus sagittis. Duis rhoncus feugiat pulvinar. In in justo ante. Pellentesque hendrerit est imperdiet dictum hendrerit. Maecenas viverra magna eget sapien condimentum, vitae dignissim nisl efficitur. Vivamus hendrerit enim at metus suscipit convallis. Praesent cursus ex pharetra metus gravida, ac efficitur sapien dignissim. Fusce mauris ante, venenatis et est ac, ornare porta odio. Quisque eget mattis sapien. Ut quis efficitur massa. Aliquam erat volutpat. Fusce vel purus arcu. Proin at pharetra metus. Vestibulum sit amet lectus sit amet diam consectetur pellentesque eget imperdiet tortor. Mauris dolor metus, mollis laoreet odio sit amet, aliquet mollis augue.<br><br>

                    Integer ut lacinia libero. Etiam aliquet a nulla sit amet lacinia. Aenean vitae scelerisque sapien, vitae faucibus augue. Nulla fermentum neque et purus placerat dapibus. Quisque egestas quis sapien eu congue. In iaculis auctor urna, sed rutrum urna dapibus eget. Duis nec lacus eu ligula tristique tristique ac non nulla. Suspendisse sit amet erat sed nulla placerat lacinia. Nulla magna diam, consectetur vitae metus non, tincidunt gravida libero. Morbi finibus, nisi in congue dictum, dui massa euismod elit, eget malesuada mi tellus scelerisque libero. Fusce ullamcorper arcu eget iaculis sollicitudin. Nam commodo augue ut nulla accumsan, ut dictum erat interdum. Nullam ac rhoncus nisl. Nullam commodo, urna dignissim ullamcorper commodo, mi odio tristique dui, id convallis nibh orci sit amet erat.<br><br>

                    Aenean varius tortor libero, eget auctor erat imperdiet vitae. Nam condimentum rhoncus auctor. Nunc non odio id ex pellentesque tincidunt. Fusce viverra dictum molestie. In augue ipsum, gravida vitae nisi nec, cursus dignissim nibh. Vestibulum ut nunc nisi. Ut et mauris dignissim, finibus diam vitae, porta lorem. Nulla facilisi. Fusce non tellus a ipsum suscipit placerat tristique ut diam.<br><br>

                    Cras tempus dui ac nibh vulputate condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc pretium, ex in convallis faucibus, tortor neque ultricies neque, quis aliquet libero lacus eu lorem. Duis vitae congue quam. Phasellus at purus vitae massa dapibus ullamcorper. Cras luctus eget dui nec suscipit. Maecenas non pharetra odio. Morbi egestas, nibh ut tristique interdum, tortor magna blandit diam, et laoreet nisl ligula tristique purus. Nam et dictum nunc, in aliquam nisl. Morbi in aliquet dui.<br><br>

                    Proin vel maximus massa, et cursus nisi. Cras dictum, nibh sit amet scelerisque mattis, turpis tellus sagittis augue, vitae fringilla dui enim eget quam. Vestibulum nec porttitor nisi, vitae accumsan nisi. Sed quis est tellus. Morbi varius eget mauris ut porta. Aenean rutrum libero vel ipsum scelerisque venenatis. Quisque vitae blandit ante. Sed suscipit consequat massa, vitae semper nisi iaculis at. Praesent convallis vestibulum metus quis tincidunt.<br><br> 

                </p>

            </div>

            <div class="text-right font-weight-bold">
                <p>L'équipe du Collectif Taliesin</p>
            </div>

        </div>
        
    {% endblock %}
