    {% if app.user and is_granted('ROLE_MODO') %}
        
        {{ form_start(form) }}
            
            {{ form_widget(form) }}

             <div class="col-12 text-right my-5">
                <button type="submit" class="btn btn-success">Poster</button>
            </div>
            
        {{ form_end(form) }}

    {% endif %}


